body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
  
}

.business-card {
  background-color: rgb(247, 232, 234);
  width: 300px;
  padding: 20px 20px 20px 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(105, 103, 103)
}
.profile-image {
  max-width: 100%;
  display: block;
  width: 150px;
  height: 140px;
  margin: auto;
  border: 2px solid lightgrey;
  margin-bottom: 20px;
  
  }


p {
  margin-top:  5px;
  margin-bottom: 5px;
}

.full-name {
  font-size: 25px;
  color: rgb(75,75,75);
}
.designation {
  color: grey;
  font-size: 17px;
}

.company {
 color: grey;
  font-size: 14px; 
  margin-bottom: 20px;
}
a {
  text-decoration: none;
 
}

hr {
  border-style: solid;
  background-color: rgb(223, 221, 221);
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-media {
  font-size: 14px;
}

.links a {
  margin-left: 20px;
  margin-right: 20px;
  color: maroon;
}

.phone,
.email {
  color: black;
}